<a id="enclosure_main_info" class="pull-right" title="Main power" href="#">
  <i class="icon-off"></i>
</a>
<a id="enclosure_printer_toggle" class="pull-right" title="Toggle printer power" href="#">
  <i class="icon-print"></i>
</a>
<a id="enclosure_light_toggle" class="pull-right" title="Toggle light power" href="#">
  <i class="icon-lightbulb"></i>
</a>
